{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Órdenes</h1>
    <div class="container mt-4 ps-0">
        <div class="row" style="max-width: 600px;">
            <div class="col-12">
                <div class="filter-section mb-4">
                    <form method="get">
                        <select name="period" class="form-select" onchange="this.form.submit()">
                            <option value="today" {% if selected_period == 'today' %}selected{% endif %}>Hoy</option>
                            <option value="week" {% if selected_period == 'week' %}selected{% endif %}>Esta semana</option>
                            <option value="month" {% if selected_period == 'month' %}selected{% endif %}>Este mes</option>
                            <option value="year" {% if selected_period == 'year' %}selected{% endif %}>Este año</option>
                            <option value="all" {% if selected_period == 'all' %}selected{% endif %}>Todas</option>
                        </select>
                    </form>
                </div>
    
                <div class="d-flex justify-content-between">
                    <div id="orders_stats" class="stat_category mb-3">
                        <h4>Órdenes: {{ total_orders }}</h4>
                    </div>
        
                    <div id="revenue_stats" class="stat_category mb-3 ms-2">
                        <h4>Ingresos: ${{ total_revenue}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_page %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <ul>
                            {% for item in order.orderitem_set.all %}
                            <li>{{ item.product.name }} ({{ item.quantity }})</li>
                            {% if item.description %}
                            <ul>
                                <li>{{ item.description }}</li>
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        ${{ order.total }}
                    </td>
                    <td>
                        <form method="post" action="{% url 'print_ticket' %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <button class="btn btn-primary" type="submit">Imprimir Ticket</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if orders_page.has_previous %}
                <a href="?page=1&period={{ selected_period }}">&laquo; primera</a>
                <a href="?page={{ orders_page.previous_page_number }}&period={{ selected_period }}">anterior</a>
            {% endif %}

            {% if orders_page.paginator.num_pages > 1 %}
                <span class="current">
                    Página {{ orders_page.number }} de {{ orders_page.paginator.num_pages }}.
                </span>
            {% endif %}

            {% if orders_page.has_next %}
                <a href="?page={{ orders_page.next_page_number }}&period={{ selected_period }}">siguiente</a>
                <a href="?page={{ orders_page.paginator.num_pages }}&period={{ selected_period }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}