{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Órdenes</h1>
    <div class="container mt-4 ps-0">
        <div class="row" style="max-width: 600px;">
            <div class="col-12">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <label for="time_interval" class="form-label">Selecciona Intervalo</label>
                        <select id="time_interval" class="form-select" onchange="updateStats()">
                            <option value="today">Hoy</option>
                            <option value="week">Esta semana</option>
                            <option value="month">Este mes</option>
                            <option value="year">Este año</option>
                        </select>
                    </div>
                </div>
    
                <div class="d-flex justify-content-between">
                    <div id="orders_stats" class="stat_category mb-3">
                        <h4>Órdenes hoy: {{ total_orders_today }}</h4>
                    </div>
        
                    <div id="revenue_stats" class="stat_category mb-3 ms-2">
                        <h4>Ingresos hoy: ${{ total_revenue_today }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <ul>
                            {% for item in order.orderitem_set.all %}
                            <li>{{ item.product.name }} ({{ item.quantity }})</li>
                            {% if item.description %}
                            <ul>
                                <li>{{ item.description }}</li>
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        ${{ order.total }}
                    </td>
                    <td>
                        <form method="post" action="{% url 'print_ticket' %}">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <button class="btn btn-primary" type="submit">Imprimir Ticket</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script>
    function updateStats() {
        var timeInterval = document.getElementById("time_interval").value;
        
        var ordersToday = {{ total_orders_today }};
        var ordersWeek = {{ total_orders_week }};
        var ordersMonth = {{ total_orders_month }};
        var ordersYear = {{ total_orders_year }};
        
        var revenueToday = {{ total_revenue_today }};
        var revenueWeek = {{ total_revenue_week }};
        var revenueMonth = {{ total_revenue_month }};
        var revenueYear = {{ total_revenue_year }};

        var ordersStats = document.getElementById("orders_stats");
        var revenueStats = document.getElementById("revenue_stats");

        if (timeInterval === "today") {
            ordersStats.innerHTML = `<h4>Órdenes hoy: <b>${ordersToday}</b></h4>`;
            revenueStats.innerHTML = `<h4>Ingresos hoy: <b>$${revenueToday}</b></h4>`;
        } else if (timeInterval === "week") {
            ordersStats.innerHTML = `<h4>Órdenes esta semana: <b>${ordersWeek}</b></h4>`;
            revenueStats.innerHTML = `<h4>Ingresos esta semana: <b>$${revenueWeek}</b></h4>`;
        } else if (timeInterval === "month") {
            ordersStats.innerHTML = `<h4>Órdenes este mes: <b>${ordersMonth}</b></h4>`;
            revenueStats.innerHTML = `<h4>Ingresos este mes: <b>$${revenueMonth}</b></h4>`;
        } else if (timeInterval === "year") {
            ordersStats.innerHTML = `<h4>Órdenes este año: <b>${ordersYear}</b></h4>`;
            revenueStats.innerHTML = `<h4>Ingresos este año: <b>$${revenueYear}</b></h4>`;
        }
    }

    window.onload = function() {
        updateStats();
    }
</script>

{% endblock %}